.theme .container {
  max-width: 60rem;
}
.custom-block {
  position: relative;
  padding: 0.1rem 1.5rem;
  margin: 1rem 0;
  border: 1px solid;
  border-left-width: 0.5rem;
  border-left-style: solid;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.custom-block::before {
  position: absolute;
  top: 17px;
  left: -16px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 24px;
  font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: bolder;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
}

.custom-block .custom-block-title {
  font-weight: 600;
  margin-bottom: -0.4rem;
}

.custom-block p {
  color: #222;
}

/* tip */
.custom-block.tip {
  border-color: var(--c-brand);
  background-color: #f7f7f7;
}
.custom-block.tip .custom-block-title {
  color: var(--c-brand);
}
.custom-block.tip::before {
  content: var(--c-tip);
  background-color: var(--c-brand);
}
/* end tip */

/* warning */
.custom-block.warning {
  border-color: #c4a301;
  color: #222;
  background-color: #f7f7f7;
}
.custom-block.warning .custom-block-title {
  color: #c4a301;
}
.custom-block.warning::before {
  content: var(--c-warn);
  /* font-size: 23px;
  line-height: 26px; */
  background-color: #c4a301;
}

/* end warning */

/* info */
.custom-block.info {
  border-color: #476582;
  background-color: #f7f7f7;
}

.custom-block.info .custom-block-title {
  color: #476582;
}
.custom-block.info::before {
  content: var(--c-info);
  background-color: #476582;
}

/* end info */

/* danger */
.custom-block.danger {
  border-color: #c00;
  background-color: #f7f7f7;
}
.custom-block.danger .custom-block-title {
  color: #c00;
}
.custom-block.danger::before {
  content: var(--c-danger);
  background-color: #c00;
}

/* end danger */

.custom-block.tip,
.custom-block.info,
.custom-block.warning,
.custom-block.danger {
  overflow-x: initial !important;
}

#main-title {
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.figure .image {
  border-radius: 50% !important;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  background-color: #fefefe;
  border-radius: 6px;
  flex-shrink: 0;
  box-shadow: 0 0 0 1px #d2d3d3;
  border: 1px solid #d0d7de !important;
}
